[submodule "external/jules"]
	path = external/jules
	url = https://github.com/verri/jules
[submodule "external/cool"]
	path = external/cool
	url = https://github.com/verri/cool
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt
[submodule "external/type_safe"]
	path = external/type_safe
	url = https://github.com/foonathan/type_safe.git
